
.wishlist {
    width: 100%;
    height: calc(100% - 100px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
  font-size: 18px;
  font-weight: 500;
  }
  
  .home::-webkit-scrollbar {
    display: none;
  }
  