@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
}

.app {
  position: relative;
  width: 540px;
  min-width: 540px;
  height: 100vh;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 580px) {
  .app {
    min-width: 100%;
  }
}
